.Lamp {
  width: 30%;
  height: 30%;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.Lamp-img {
  width: 250px;
  height: 250px;
}

.Back-button {
  background: none;
  color: white;
  border: none;
  font-size: 26px;
}